<div class="card footer mb-3" style="background-color: #b4dce6;padding-top: 20px; border-color: white;">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="https://d2sz1kgdtrlf1n.cloudfront.net/task_images/uZ9H1599208413110-YeloEommerceLogo2.png"
                        width="190" height="50" alt="">
                </div>
                <div class="col">
                    <h5 class="card-title text-black-50"
                        style="margin-left: 88px; font-weight: bold;font-family: 'Piazzolla', serif;">Follow Us
                    </h5>
                    <ul class="listul">
                        <li><a href="#">Github</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5 class="card-title text-black-50" style=" font-weight: bold;font-family: 'Piazzolla', serif;">
                        Call
                        Us</h5>
                    <p><i class="fas fa-envelope " aria-hidden="true "></i> mamawaestate@gmail.com</p>
                    <p><i class="fas fa-phone-square" aria-hidden="true "></i> 0788530450</p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p class="card-text copyright"><small>&copy; Copyright 2020 | MAMA WA ESTATE</small></p>