<body  style="background-color: #b4dce6;">
    <div class="ui-carousel-viewport">
        <h4 class="text-info mb-3 text-black-50" style="padding-top: 20px; padding-left: 20px;">All Categories</h4>
        <div class="row">
            <img src="https://d2sz1kgdtrlf1n.cloudfront.net/task_images/6Rb31555416834089-artboard.png">

            <div class="col-md-2">
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="row">
                        <div class="col-md-4" style="margin-top: 30px;">
                            <img src="https://images.unsplash.com/photo-1576671081837-49000212a370?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8cGhhcm1hY3l8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                                class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-title">Pharmacy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="row">
                        <div class="col-md-4" style="margin-top: 30px;">
                            <img src="https://d2sz1kgdtrlf1n.cloudfront.net/yelo_products/thumb-200-200-AHt1583697987214-Screenshot20200309at1.33.00AM.png"
                                class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-title">Electronic</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="row">
                        <div class="col-md-4" style="margin-top: 30px;">
                            <img src="https://d2sz1kgdtrlf1n.cloudfront.net/yelo_products/thumb-200-200-hkc1583697969568-Screenshot20200309at1.32.55AM.png"
                                class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-title">Clothing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-3" style="max-width: 400px;">
                    <div class="row">
                        <div class="col-md-4" style="margin-top: 30px;">
                            <img src="https://d2sz1kgdtrlf1n.cloudfront.net/yelo_products/thumb-200-200-D2Z1583697954333-Screenshot20200309at1.32.49AM.png"
                                class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-title">Food</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
        


    
   
    
</body><br>