
<body  style="background-color: #b4dce6; padding: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn btn-default btn-sml" >Categories</button>
            </div>
            <div class="col-sm-3">
                 <button type="button" class="btn btn-info btn-sml" >Electronics</button>
            </div>
            <div class="col-sm-3">
                 <button type="button" class="btn btn-success">Pharmacy</button>
            </div>
            <div class="col-sm-3">
                 <button type="button" class="btn btn-warning" >Food</button>
            </div>


            
        </div>    
            
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary" >Clothing</button>
            </div>
            <div class="col-sm-3">
                 <button type="button" class="btn btn-info" >Cosmetics</button>
            </div>
            <div class="col-sm-3">
                 <button type="button" class="btn btn-danger" >Gadgets</button>
            </div>
            <div class="col-sm-3">
                 <button type="button" class="btn btn-success">BabyToys</button>
            </div>


            
        </div>    
            
     
           

        
    
    </div>

    
    
</body><br>