<body style="margin-top: 70px;">
    <h1>thierry</h1>

    <div class="container">
        <!-- <div *ngIf="cartData.data[0].numInCart === 0;" class="text-center my-5">
          <h4>Your Cart Is Empty</h4>
          <button class="btn btn-primary btn-lg mt-3" routerLink="/">GO TO SHOP</button>
        </div> -->
      
        <!-- <ng-container *ngIf="cartData.data[0].numInCart !== 0"> -->
          <div class="row">
            <div class="col my-4">
              <table class="table">
                <thead class="table-dark">
                <tr class="text-center">
                  <th>Image</th>
                  <th>Title</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <!-- <tr *ngFor="let c of cartData.data; let i=index"> -->
                  <td class="d-flex align-items-center justify-content-around" >
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" alt="gvyy" height="60" class="order-1">
                    <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash" ></i></span>
                  </td>
                  <td><p>rrrr</p></td>
                  <td>
                    <p>500</p>
                  </td>
                  <td>
                    <form>
                      <div class="value-button" id="decrease">
                        <i class="fa fa-minus"></i>
                      </div>
                      <input type="number" id="number"  />
                      <div class="value-button" id="increase">
                        <i class="fa fa-plus"></i>
                      </div>
                    </form>
                  </td>
                  <td>
                    <!-- <p>{{cartService.CalculateSubTotal(i) | currency:'USD'}}</p> -->
                    <p>hyyy</p>
                  </td>
                </tr>
                <tr class="border-0">
                  <td style="border: none;"></td>
                  <td></td>
                  <td></td>
                  <td>TOTAL</td>
                  <td>$600</td>
                  <!-- <td>{{cartTotal | currency:'USD'}}</td> -->
      
                </tr>
      
                </tbody>
              </table>
      
      
            </div>
      
            <div class="col-md-12 d-flex mb-5">
              <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
                <a routerLink="/" class="btn btn-danger btn-sm order-1">Checkout</a>
                <a routerLink="/" class="btn btn-success btn-sm order-0">Continue Shopping</a>
              </div>
            </div>
      
          </div>
        <!-- </ng-container> -->
      
      </div>
</body>
