<body style="margin-top: 70px; background-color: #b4dce6;">
  <ngx-flash-messages></ngx-flash-messages>
  <div class="container">
    <div class="row">
      <div class="col my-4">
        <table class="table">
          <thead class="table-dark">
            <tr class="text-center">
              <th>Image</th>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let p of products">
              <td (click)="deleteFromCart(p.id)" class="d-flex align-items-center justify-content-around"
                style="cursor: pointer;">
                <img (click)="deleteFromCart(p.id)"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png"
                  alt="gvyy" height="60" class="order-1">
                <span (click)="deleteFromCart(p.id)" class="text-danger" style="cursor: pointer;"><i
                    class="fa fa-trash"></i></span>
              </td>
              <td class="text-center">
                <ng-container *ngFor="let product of prd">
                  <p *ngIf="product.id == p.product">{{product.name}}</p>
                </ng-container>



              </td>
              <td class="text-center">
                <p>{{p.subtotal}}</p>
              </td>
              <td class="text-center">
                <form>
                  <input type="number" [(ngModel)]="qty" name="qty" placeholder="{{p.quantity}}" />
                  <button class="btn btn-success btn-sm order-0" (click)="update(p.id,qty)">save</button>
                </form>
              </td>
              <td class="text-center">
                <p>{{calculate(p.subtotal,p.quantity)}}</p>
              </td>
            </tr>
            <tr class="border-0">
              <td style="border: none;"></td>
              <td></td>
              <td></td>
              <td class="text-center" *ngIf="(products | json) != '[]'">TOTAL</td>
              <td class="text-center" *ngIf="(products | json) != '[]'">{{sum()}}</td>
              <td *ngIf="(products | json) === '[]'">No products in the cart</td>

            </tr>

          </tbody>
        </table>


      </div>

      <div class="col-md-12 d-flex mb-5">
        <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
          <a *ngIf="(products | json) != '[]'" routerLink="/checkout" class="btn btn-danger btn-sm order-1">Checkout</a>
          <a routerLink="/" class="btn btn-success btn-sm order-0">Continue Shopping</a>
        </div>
      </div>

    </div>


  </div>
</body>