<body style="margin-top: 70px;">
    <div class="row">
        <div class="card mb-3" style="max-width: 400px;">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black; font-weight: bold;">
                            {{product.name}}</h5>
                        <p class="card-text" style="color: black;">{{product.description}}</p>
                        <hr>
                        <p class="card-text"><small class="text-muted">{{product.price}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>