<body style="background-color: #b4dce6; margin-top: 65px;">
    <ngx-flash-messages></ngx-flash-messages>
    <div class="container" style="padding-top: 20px;">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-3" style="max-width: 400px; border-radius: 80px;" >
                            <div class="row no-gutters">
                                <div class="col-md-4" style="margin-top: 30px;">
                                    <img src="https://st.depositphotos.com/1062085/3876/v/950/depositphotos_38761039-stock-illustration-small-shop-on-the-street.jpg"
                                        style="cursor:pointer;" class="card-img rounded-circle" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-center" style="color: black; font-weight: bold;"
                                            style="cursor:pointer;">
                                            {{store.name}}</h5>
                                        <p class="card-text text-center" style="color: black;">{{store.location}}</p>
                                        <hr>
                                        <p class="card-text text-center"><small
                                                class="text-muted">{{store.service}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-info mb-3 text-black-50 text-center">MENU</h2>

                <ul *ngFor="let product of products" style="margin-left: 150px;">
                    <ng-container *ngIf="product.store == store.id">
                        <li>{{product.name}}</li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <h2 class="text-info mb-3 text-black-50 text-center">Products</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of products">
                <ng-container *ngIf="product.store == store.id">
                    <div class="card mb-3" style="max-width: 400px;"  style="cursor:pointer; border-radius: 15px;">
                        <div class="row no-gutters">
                            <div class="col-md-4" (click)="selectProduct(product.id)" style="margin-top: 30px;">
                                <img src="product.image" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" (click)="selectProduct(product.id)" style="color: black; font-weight: bold;"
                                        style="cursor:pointer;">
                                        {{product.name}}</h5>
                                    <p class="card-text" style="color: black;">{{product.description}}</p>
                                    <hr>
                                    <p class="card-text">{{product.selling_price}} KSH</p>
                                    <button class="btn btn-primary btn-lg btn-block btn-sm" (click)="AddToCart(product.id)">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</body>


<!-- <div class="col-md-4" *ngFor="let product of prd">
    <ng-container *ngIf="product.id == p.product">

    </ng-container>
</div> -->