<body style="padding-top: 30px;background-color: #b4dce6;">



    <div class="container" style="margin-top:8%">
        <div class="content-section">
            <div class="media">
                <div class="container">
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                <img class="rounded-circle account-img"
                                    src="https://i.pinimg.com/originals/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg"
                                    width="100%">
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="media-body">
                                    <div class="account-heading"><span class="mr-3 text-secondary username">
                                            <b>Username:</b> Mugisha</span>
                                        <!-- <a class="btn btn-outline-primary btn-sm mr-3" data-toggle="modal"
                                            data-target=".bd-example-modal-md "><strong>Edit Profile</strong></a> -->

                                    </div>
                                    <p class="text-secondary"> <b>Names:</b> Mugisha Thierry</p>
                                    <p class="text-secondary"> <b>Contact:</b> None</p>
                                    <p class="text-secondary"> <b>My location:</b> Kigali</p>
                                    <!-- <button type="button" class="btn btn-outline-primary mr-4" data-toggle="modal" data-target="#exampleModal_">
                                Add Post
                              </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>



</body>