<style>
    .card-img {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }

    .card-img-top {
        width: 100%;
        /* height: 15vw; */
        object-fit: cover;
    }
</style>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 65px;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div class="card-img">
                <img class="d-block w-100" src="https://www.akg.com/on/demandware.static/-/Sites-AKG-US-Library/default/dwa1dc736e/homepage/AKG_TecAwards_WINNERS_AKG_HomepageBanner_2800x970-min.jpg" alt="................."></div>
            <div class="carousel-caption p-5 d-none d-md-block text-light" style="position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            ">
                <!-- <h2 class="text-dark m-5" style="margin-top: 50px;">one</h2> -->
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-img">
                <img class="d-block w-100"
                    src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/quizzes/fast_food_smarts_rmq/650x350_fast_food_smarts_rmq.jpg"
                    alt="................."></div>
            <div class="carousel-caption p-5 d-none d-md-block text-light" style="position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        ">
                <!-- <h2 class="text-light m-5" style="margin-top: 50px;">two</h2> -->
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-img">
                <img class="d-block w-100" src="https://media.istockphoto.com/photos/white-mobile-phone-and-headphones-on-a-black-background-picture-id621591016?k=6&m=621591016&s=170667a&w=0&h=j6zLeuefv9__-NzwI1IhXhVASJ-8v21Mwiwl46L0rUo=" alt="................."></div>
            <div class="carousel-caption p-5 d-none d-md-block text-light" style="position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        ">
                <!-- <h2 class="text-light m-5" style="margin-top: 50px;">three</h2> -->
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<body style="background-color: rgb(250, 250, 250);">
    
<app-category></app-category>
<app-store></app-store>
</body>
